player-connection-mode=Listen
player-connection-guid=43232916
player-connection-debug=0
player-connection-project-name=bullet
player-connection-ip=192.168.100.146
player-connection-ip=169.254.2.180
player-connection-ip=169.254.68.156
player-connection-ip=172.20.240.1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=13dfb176e01d4f19b89ad7826b557674
